* {
	font-family: "Montserrat", sans-serif;
}

h1{
	font-family: "Roboto", sans-serif;
	margin-top: 100px;
}

#profile {
	margin-top: 30px;
	height: 400px;
	width: 400px;
}
#top {
	background-color: #E238EC;

}

#landing {
	/*vh: veiwport height - measure percentage of the height of the device you are viewing your webpage in*/
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.jumbotron{
	background-color: transparent;
	color: white;
	font-size: 30px;
	margin-top: 100px;
}


#gallery{
	display: flex;
	flex: 50%;
	padding: 10px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 30px;
	background-color: transparent;
}

.tools{
	border: 3px solid transparent;
	margin: 20px;
	padding: 20px;
	height: 200px;
	width: 25%;
	color: #007bff;
	background-color: transparent;
	font-size: 40px;
}

.active, .tools:hover {background-color: transparent;}

.panel {
  padding: 0 12px;
  display: none;
  background-color: transparent;
  overflow: hidden;
  color: white;

}


html {
	scroll-behavior: smooth;
}

body {
	background-image: url(images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}



